

h2.homepage {
    font-family: 'Tangerine', cursive;
    font-size: 4em;
}

#index-header {
    background-image: url("../images/accueil.jpg");
}

#quisuisje-header {
    background-image: url("../images/quisuisje.jpg");
}

#seance-header {
    background-image: url("../images/seance.jpg");
}

#tarif-header {
    background-image: url("../images/tarif.jpg");
}

#contact-header {
    background-image: url("../images/contact.jpg");
}

#infospratiques-header {
    background-image: url("../images/infopratiques.jpg");
}

.joyofa-header {
    height: 350px;
}

.joyofa-header > div {
    height: inherit;
}

.joyofa-header .photocv {
    height: 240px;
}

.list-homepage {
    margin-bottom: 2px;
}

.btn-homepage {
    width: 100%;
    color: #313131;
    background-color: #f8f9fa;
    border-color: #222222;
}

.btn-homepage:not(:disabled):not(.disabled):hover,
.btn-homepage:not(:disabled):not(.disabled):active {
    color: #f8f9fa;
    background-color: #313131;
    border-color: #222222;
}

.btn-homepage:focus {
    box-shadow: 0 0 0 .2rem rgba(22,22,22,.5);
}

.modal-dialog {
    max-width: 65%;
}

.modal-body img {
    float: left;
    margin-right: 35px;
    max-width: 50%;
}
