body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Ubuntu", sans-serif;
    color: #f9ecec;
}

html {
    scroll-behavior: smooth;
}

h1, h2 {
    color: #99cdd8;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    font-family: 'Tangerine', cursive;
}

h1 {
    margin-top: 40vh;
    font-size: 10vh;
}

h2 {
    font-size: 6vh;
    margin-bottom: 40vh;
}

.bgimg {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    padding: 0;
}

.bgimg-1 {
    background-image: url("../images/accueil.jpg");
}

.bgimg-2 {
    background-image: url("../images/contact.jpg");
}

.bgimg-3 {
    background-image: url("../images/seance.jpg");
}

.bgimg-4 {
    background-image: url("../images/infopratiques.jpg");
}

.bgimg-5 {
    background-image: url("../images/quisuisje.jpg");
}

.bgimg-6 {
    background-image: url("../images/tarif.jpg");
}

.bgimg-7 {
    background-image: url("../images/modal-eft.JPG");
}

.bgimg-8 {
    background-image: url("../images/modal-quiquoi.jpg");
}

.joyofa-menu {
    font-family: Ubuntu;
    font-size: 4vh;
}

.joyofa-menu .navbar {
    padding: 0;
    width: 100%;
}

.joyofa-menu .navbar ul {
    width: 100%;
}

.joyofa-menu .navbar ul li {
    margin: auto;
}

body.fixed .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF;
    z-index: 10;
}

body.fixed .bgimg-3{
    margin-top: 10vh;
}

.joyofa-middle>.row{
    margin: 0;
}

.joyofa-middle .homepage-text{
    background-color: #969896;
    position: absolute;
    bottom: 0;
}


.joyofa-header {
    height: 95vh;
}

.homepage-middle {
    height: 350px;
}
