{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 text-right joyofa-header" id="contact-header">
        </div>
    </div>

    <p>
    Je me déplace au domicile dans la région de Bourg en Lavaux, Lausanne, Vevey, Epalinges.<br />
    Pour prendre rendez-vous, me téléphoner au 076 704 88 59.<br />
    Si je ne suis pas disponible, laisser vos coordonnées et je vous rappellerai rapidement.
    </p>
{% endblock %}