{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 text-right joyofa-header" id="infospratiques-header">
        </div>
    </div>


    Pour ceux qui ne peuvent se libérer la semaine, je pratique des séances un ou deux week-end par mois

{% endblock %}