{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 text-right joyofa-header" id="tarif-header">
        </div>
    </div>

    <p>
    Le montant d'une séance est de  120chf, que ce soit pour 60 ou 90 minutes.<br />
    Chaque séance est à régler à la fin de la rencontre uniquement au comptant car je n'ai pas de dispositif pour les cartes bancaires.
    </p>
{% endblock %}