<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Murmure d'hypno{% endblock %}</title>
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans&display=swap" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>
<body>
{% include 'menu.html.twig' %}
{% block body %}{% endblock %}
{% include 'footer.html.twig' %}
<script src="{{ asset('js/uikit.min.js') }}"></script>
<script src="{{ asset('js/uikit-icons.min.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
