<footer id="contact" class="uk-background-primary uk-padding uk-panel uk-light" uk-scrollspy="target: > div;cls:uk-animation-slide-bottom; delay: 500">
    <div class="uk-container">
        <h4 class="uk-h2">Contact</h4>
        <p>
            Je me déplace au domicile dans la région de <strong>Bourg en Lavaux, Lausanne, Vevey, Epalinges</strong>.<br/>
            Pour prendre rendez-vous, me téléphoner au
            <br/>
            <span class="uk-h2">
                <em uk-icon="icon: phone; ratio: 2"></em>
                <a href="tel:0767048859">
                    076 704 88 59
                </a>
            </span>
        </p>
        <p>Si je ne suis pas disponible, laisser vos coordonnées et je vous rappellerai rapidement. Pour ceux qui ne peuvent se libérer la semaine, je pratique des séances un ou deux week-end par mois</p>
    </div>
</footer>
<div class="uk-position-fixed uk-position-bottom uk-hidden@l">
    <a href="tel:0767048859" href="tel:" class="uk-button uk-button-primary uk-button-large uk-display-block">
        <em uk-icon="icon: phone; ratio: 2"></em>
        Contactez-moi
    </a>
</div>
