<header>
    {% include 'menu.html.twig' %}
    <div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top" style="background-image: url({{ asset('images/accueil.jpg') }});">
        <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
            <h1 uk-parallax="opacity: 0,1; y: -50,0; scale: 0.2,1; viewport: 0.2;">La thérapie douce pour vos problèmes du quotidien...</h1>
            <h2 class="uk-h3">
                <span uk-parallax="opacity: 0,1; y: 40,0; scale: 0.5,1; viewport: 0.2;">Prendre le temps de se poser,</span>
                <span uk-parallax="opacity: 0,1; y: 80,0; scale: 0.5,1; viewport: 0.4;">savoir ce que l'on veut,</span>
                <span uk-parallax="opacity: 0,1; y: 120,0; scale: 0.5,1; viewport: 0.6;">aller vers le changement...</span>
            </h2>
        </div>
    </div>
</header>
