<div class="uk-navbar-container" uk-sticky="cls-active: uk-navbar-sticky">
    <div class="uk-container">
        <nav class="uk-navbar" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="#">Murmure d'hypno</a>
            </div>
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav" uk-scrollspy-nav="closest: li; scroll: true">
                    <li>
                        <a href="#hypnotherapeute">Qui suis-je</a>
                    </li>
                    <li>
                        <a href="#hypnotherapie">L'hypnothérapie</a>
                    </li>
                    <li>
                        <a href="#seance" >La séance</a>
                    </li>
                    <li>
                        <a href="#tarifs">Tarifs</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <a class="uk-navbar-toggle uk-hidden@l" href="#mobile-nav" uk-toggle="">
                    <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
                </a>
            </div>
        </nav>
    </div>
</div>
<div id="mobile-nav" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <ul class="uk-nav uk-nav-default">
            <li class="uk-active"><a href="#">Active</a></li>
            <li class="uk-nav-header">Header</li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
        </ul>
    </div>
</div>
<div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top" style="background-image: url({{ asset('images/accueil.jpg') }});">
    <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
        <h1 uk-parallax="opacity: 0,1; y: -50,0; scale: 1.5; viewport: 0.2;">La thérapie douce pour vos problèmes du quotidien...</h1>
        <h2 class="uk-h3">
            <span uk-parallax="opacity: 0,1; y: 40,0; scale: 0.5,1; viewport: 0.2;">Prendre le temps de se poser,</span>
            <span uk-parallax="opacity: 0,1; y: 80,0; scale: 0.5,1; viewport: 0.2;">savoir ce que l'on veut,</span>
            <span uk-parallax="opacity: 0,1; y: 120,0; scale: 0.5,1; viewport: 0.2;">aller vers le changement...</span>
        </h2>
    </div>
</div>
