@global-primary-background: #222E6A;
@global-secondary-background: #2593D2;

@global-font-family: 'Open Sans', sans-serif;
@base-heading-font-family: 'Lobster', sans-serif;

@navbar-background: @global-primary-background;
@navbar-nav-item-color: #fff;

@navbar-nav-item-font-family: @base-heading-font-family, sans-serif;
@navbar-nav-item-font-size: 1.75rem;

@height-large-height: 800px;

@uk-card-default-bg: #fff;
