<div class="row">
    <div class="col-lg-12 homepage-text">
        <p>Infirmière en santé mentale depuis de très longues années, j'ai fait la formation d'hypnothérapeute en Suisse et je continue de me former à Paris, Nantes, Annecy, ... Des formations sur
            la douleur, les traumas, le deuil, le poids, le stress, la dépression, les phobies et autres fragilités.</p>
        <p>Je ne suis ni médecin, ni psychologue, je n'ai pas non plus de baguette magique mais il y a vous : vos ressources et la possibilités de les éveiller, de les mettre en oeuvre pour
            arriver à votre but.</p>
    </div>
</div>