<div class="row">
    <div class="col-lg-4 homepage-middle">
        <div class="wrap">
            <div class="cube medium">
                <div class="front">Qu'est-ce que l'hypnose ?</div>
                <div class="back"></div>
                <div class="top"></div>
                <div class="bottom"></div>
                <div class="left"></div>
                <div class="right">
                    C'est une technique thérapeutique où le patient est dans un état de conscience modifiée comme lors des rêveries. <br/>
                    <br/>
                    Avec l'aide du thérapeute, il a accès à ses propres ressources, ses compétences et à tout son potentiel positif pour revisiter la réalité du présent et aller vers le
                    changement.<br/>
                    <br/>
                    Le sujet reste conscient de tous ses actes et ses paroles. Tous ses sens sont en éveil et rien ne peut être fait sans l'accord de celui-ci. Rien ne peut être fait à l'encontre
                    de ses valeurs et de sa sécurité.<br/>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 homepage-middle">
        <div class="wrap">
            <div class="cube medium">
                <div class="front">Qu'est-ce que l'E.F.T. ?</div>
                <div class="back"></div>
                <div class="top"></div>
                <div class="bottom"></div>
                <div class="left"></div>
                <div class="right">
                    C'est une technique de libération émotionnelle par la stimulation des points d'acupuncture situés sur le trajet des méridiens.<br/>
                    Cette stimulation se fait par des petits tapotements sur des points précis autour de l'oeil, au dessus, en dessous des lèvres, de la clavicule, etc...<br/>
                    Tout ceci en même temps qu'une verbalisation bien précise.<br/>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 homepage-middle">
        <div class="wrap">
            <div class="cube medium">
                <div class="front">Quels critères pour choisir son thérapeute ?</div>
                <div class="back"></div>
                <div class="top"></div>
                <div class="bottom"></div>
                <div class="left"></div>
                <div class="right">
                    Pour s'aider dans ses choix, il faut veiller à :
                    <ul>
                        <li>La qualité de la relation est importante afin de vous sentir en confiance et de pouvoir parler des choses difficiles. Pour cela il est possible d'avoir un premier
                            rendez-vous gratuit. Une première rencontre sans expérience hypnotique, d'une courte durée afin que vous puissiez être rassuré;
                        </li>
                        <li>la formation du thérapeute et ses formations continues;</li>
                        <li>l'expérience dans la relation d'accompagnement;</li>
                        <li>les domaines et spécialités du thérapeute.</li>
                    </ul>
                    Le patient doit se faire confiance pour choisir son thérapeute, celui qui va lui convenir.
                </div>
            </div>
        </div>
    </div>
</div>