<div class="row">
    <div class="col-lg-6 homepage-middle">
        <div class="wrap">
            <div class="cube large">
                <div class="front">Pour qui et pourquoi aller vers l'hypnose ?</div>
                <div class="back"></div>
                <div class="top"></div>
                <div class="bottom"></div>
                <div class="left"></div>
                <div class="right">
                    Pour qui ?<br/>
                    Tout le monde peut bénéficier de ces thérapies ou presque, mais comme dans tout, il y a des exceptions. Les personnes borderlines ou souffrant de dépression grave, celle
                    ayant
                    des troubles psychotiques ou celles sous l'emprise de l'alcool, de drogues ne peuvent bénéficier de ces thérapies.<br/>
                    <br/>
                    Pourquoi ?<br/>
                    Après avoir trouvé ce que l'on veut modifier de soi, de sa vie, il faut en prendre le chemin.<br/>
                    Tout ce qui fait que votre vie pourrait être plus belle, plus douce s'il n'y avait pas "ça".<br/>
                    Toutes ces décisions prises au nouvel an et qui sont impossible à tenir, ou ces douleurs épuisantes qui rongent le moral, cet état de mal-être, ces souvenirs, ...<br/>
                    Il est parfois nécessaire de se faire accompagner, de se faire aider pour apaiser le "ça" douloureux.<br/>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 homepage-middle">
        <div class="wrap">
            <div class="cube large">
                <div class="front">Pour quels problèmes ?</div>
                <div class="back"></div>
                <div class="top"></div>
                <div class="bottom"></div>
                <div class="left"></div>
                <div class="right">
                    Tout d'abords, je n'ai pas de baguette magique, je travaille avec vous. Cela veut dire que nous, la thérapeute et le patient, allons faire bouger les choses ensemble.
                    C'est une
                    relation d'échange et de partage dans la compréhension, le respect et l'attention.<br/>

                    L'hypnose et l'E.F.T. permettant de soulager à long terme cet état de souffrance psychologique qui vous empêche d'avancer ou de vivre votre vie pleinement. L'hypnose
                    est aussi une
                    aide aux traitements, elle est indiqué pour :<br/>
                    <ul>
                        <li>le trauma et les troubles de stress post-traumatique;</li>
                        <li>le stress, l'anxiété, l'angoisse;</li>
                        <li>le burn-out, la dépression, la culpabilité;</li>
                        <li>le manque de confiance en soi, la motivation;</li>
                        <li>les difficultés de concentration;</li>
                        <li>les troubles du sommeil, les douleurs;</li>
                        <li>les problèmes de poids, les dépendances;</li>
                        <li>la souffrance liée à un deuil, une séparation;</li>
                        <li>le passage d'une étape difficile de la vie;</li>
                        <li>les problèmes féminins et masculins;</li>
                        <li>l'aide pour l'efficacité de certains traitements.</li>
                    </ul>
                    Attention: L'hypnose ne remplace en rien les traitements médicamenteux, c'est une aide, un traitement complémentaire à ceux prescrit par votre médecin.
                </div>
            </div>
        </div>
    </div>
</div>