<div class="row">
    <div class="col-lg-12 homepage-text">
        <p>Parce que chaque personne est unique, la séance l'est aussi. <br/>
            Après que nous ayons fait connaissance, vous pourrez exprimer votre objectif, vos désirs de changement.<br/>
            Dans le plus grand respect, sans jamais porter de jugement, nous échangerons sur ce qui peut être atteint et le nombre de séances envisageable.<br/>
            Parfois une séance suffit, mais pas toujours.<br/>
            Puis vient le moment où vous vous laissez guider dans l'expérience, la vôtre, celle qui vous aidera dans les heures, les jours qui suivent et pour très longtemps. Vous laissez guider
            ne
            signifie pas ne rien faire ! Tout au long de la séance, il y a une forme de partenariat pour aller vers une même objectif : le vôtre.<br/>
            Puis cela se termine avec un état d'apaisement et de sérénité.<br/>
            Ensuite il y a le partage des ressentis, un moment d'échange avec le thérapeute.<br/>
            Pour les expériences suite à des traumas et de certains vécus douloureux de la vie, cet échange après la séance est important car celle-ci n'est pas toujours agréable au vu des
            émotions qui
            remontent. Mais si c'est votre cas, sachez que tout au long de la séance, je serais près de vous, je vous guiderais et vous rassurerais.<br/>
            Il est important de retenir que même si vous êtes dans un état de conscience modifiée, vous entendez tout, vous pouvez à chaque instant sortir de cet état, rien ne peut être fait à
            votre
            encontre.<br/>
            Dans certaine séance, l'hypnose et l'E.F.T. peuvent être combinés. <br/>
            <br/>
            S'il s'agit de séance avec un enfant, celui ci a parfois besoin d'un parent dans la pièce ou dans les pièces voisines.<br/>
            C'est un choix à respecter.</p>
    </div>
</div>