<div class="row">
    <div class="col-lg-12 homepage-text">
        <p>
            Je me déplace au domicile dans la région de Bourg en Lavaux, Lausanne, Vevey, Epalinges.<br/>
            Pour prendre rendez-vous, me téléphoner au 076 704 88 59.<br/>
            Si je ne suis pas disponible, laisser vos coordonnées et je vous rappellerai rapidement.
        </p>
        <p> Pour ceux qui ne peuvent se libérer la semaine, je pratique des séances un ou deux week-end par mois</p>
    </div>
</div>