{% extends 'base-parallax.html.twig' %}

{% block body %}
    <button id="scrollToTop" title="Go to top"><span class="oi oi-caret-top" title="caret-top" aria-hidden="true"></span></button>

    <div class="row">
        <div class="col-lg-12 bgimg bgimg-1 joyofa-header">
            <h1 class="text-center">Murmure d'hypno</h1>
        </div>

        <div class="col-lg-12 joyofa-menu">
            {% include 'menu-parallax.html.twig' %}
        </div>

        <div id="accueil" class="col-lg-12 bgimg bgimg-3 joyofa-middle">
            <h2 class="text-center">Savoir ce que l'on veut....</h2>
            {% include 'parallax/bloc-1.html.twig' %}
        </div>

        <div class="col-lg-12 bgimg bgimg-2 joyofa-middle">
            <h2 class="text-center">Aller vers le changement....</h2>
            {% include 'parallax/bloc-2.html.twig' %}
        </div>

        <div id="qui-suis-je" class="col-lg-12 bgimg bgimg-4 joyofa-middle">
            <h2 class="text-center">Prendre le temps de se poser....</h2>
            {% include 'parallax/bloc-3.html.twig' %}
        </div>

        <div id="seance" class="col-lg-12 bgimg bgimg-5 joyofa-middle">
            {% include 'parallax/bloc-4.html.twig' %}
        </div>

        <div id="tarif" class="col-lg-12 bgimg bgimg-6 joyofa-middle">
            {% include 'parallax/bloc-5.html.twig' %}
        </div>

        <div id="contact" class="col-lg-12 bgimg bgimg-7 joyofa-middle">
            {% include 'parallax/bloc-6.html.twig' %}
        </div>

        <div class="col-lg-12 bgimg bgimg-8 joyofa-middle"></div>

    </div>
{% endblock %}